
.app-header {
    padding: 10px;
    background-color: #282c34;
    color: white;
}

.app-header > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#player-name-input {
    max-width: 50%;
}

.App {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.main-screen {
    height: 97%;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}

.uno-screen {
    flex-grow: 8;
}

.side-screen {
    flex-grow: 1;
    padding: 6px;
    min-width: 22%;
    max-width: 22%;
    max-height: 100%;
}

.side-screen-block {
    position: relative;
    height: 50%;
    overflow: auto;
}

#player-info-table {
    height: 100%;
    width: 100%;
}

#chat-container {
    border: dimgray 5px solid;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
    align-items: stretch;
    max-height: 49%;
}